<div>
  <hr>
  <div class="d-flex flex-column align-items-center">
    <H3>Results</H3>
  </div>
  <div *ngFor="let location of favorites | search:searchKey">
    <div class="row mb-1 pb-2">
      <div class="col-md-12">
      <div class="card flex-md-row h-md-250">
          <div class="card-body d-flex flex-column align-items-left">
            <div class="row">
              <!-- <div class="col-sm-3">
                <ul class="list-group">
                  <li class="list-group-item">Cleanliness: {{location.averageRatings.cleanliness | number:'1.1'}}</li>
                  <li class="list-group-item">Traffic: {{location.averageRatings.traffic | number:'1.1'}}</li>
                  <li class="list-group-item">Stock: {{location.averageRatings.stock | number}}</li>
                  <li class="list-group-item">Checkout: {{location.averageRatings.checkout | number}}</li>
                </ul>
              </div> -->
              <div class="col-md-6 pt-2">
                <div class="row mb-2 justify-content-center">
                  <h3>Average Ratings</h3>
                </div>
                <div class="row px-3 pb-3">
                  <div class="col-md-4 text-md-right text-sm-left">
                    <strong>Cleanliness</strong>
                  </div>
                  <div class="col-md-6 bg-secondary p-0 justify-content-right">
                    <div [style.width.%]='completionPercent(cleanlinessAvg)' class='row m-0'
                      [style.background-color]="getBackgroundColor(cleanlinessAvg)">
                      <span>&nbsp;
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2" [style.color]="getBackgroundColor(cleanlinessAvg)">
                    <strong>{{cleanlinessAvg | number}}</strong>
                  </div>
                </div>
                <div class="row px-3 pb-3">
                  <div class="col-md-4 text-md-right text-sm-left">
                    <strong>Traffic</strong>
                  </div>
                  <div class="col-md-6 bg-secondary p-0">
                    <div [style.width.%]='completionPercent(trafficAvg)' class='row m-0'
                      [style.background-color]="getBackgroundColor(trafficAvg)">
                      <span>&nbsp;
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2" [style.color]="getBackgroundColor(trafficAvg)">
                    <strong>{{trafficAvg | number}}</strong>
                  </div>
                </div>
                <div class="row px-3 pb-3">
                  <div class="col-md-4 text-md-right text-sm-left">
                    <strong>Checkout</strong>
                  </div>
                  <div class="col-md-6 bg-secondary p-0">
                    <div [style.width.%]='completionPercent(checkoutAvg)' class='row m-0'
                      [style.background-color]="getBackgroundColor(checkoutAvg)">
                      <span>&nbsp;
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2" [style.color]="getBackgroundColor(checkoutAvg)">
                    <strong>{{checkoutAvg | number}}</strong>
                  </div>
                </div>
                <div class="row px-3">
                  <div class="col-md-4 text-md-right text-sm-left">
                    <strong>Stock</strong>
                  </div>
                  <div class="col-md-6 bg-secondary p-0">
                    <div [style.width.%]='completionPercent(stockAvg)' class='row m-0'
                      [style.background-color]="getBackgroundColor(stockAvg)">
                      <span>&nbsp;
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2" [style.color]="getBackgroundColor(stockAvg)">
                    <strong>{{stockAvg | number}}</strong>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <h3 class="mb-0">
                  <a class="text-dark" [routerLink]="['/locations/'+location.id]">{{location.name}}</a>
                </h3>
                <div class="mb-1 text-muted">{{location.address.address}}, {{location.address.city}}</div>
                <p class="card-text mb-auto">{{location.description}}</p>
                <button class="btn btn-secondary" (click)="showDetail(location.id)">Show More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
