<div class="card flex-md-row mb-4 box-shadow h-md-450">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12288.854800478415!2d-104.8098737!3d39.6449049!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c8854f22a4bc7%3A0xdc5ae92be99b03ba!2s3932%20S%20Joplin%20Way%2C%20Aurora%2C%20CO%2080013!5e0!3m2!1sen!2sus!4v1588260595430!5m2!1sen!2sus"
    width="1200"
    height="300"
    frameborder="0"
    style="border: 0;"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"
  ></iframe>
</div>
<form class="form-inline">
  <input
    class="form-control mr-sm-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
  />
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
    Search
  </button>

</form>
<div>
  <button class='btb btn-secondary' *ngIf='!newLocation && currentUser' (click)="addLocation()">Add Location</button>
  <button class='btb btn-secondary' *ngIf='newLocation' (click)="newLocation = null">Cancel</button>
  <div *ngIf='newLocation'>
    <app-location-form [newLoc]='newLocation'></app-location-form>
  </div>
</div>

<div>
  <app-favorites></app-favorites>
</div>
