<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="#" class="navbar-brand">Check Ahead</a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a [routerLink]="['/home']" class="nav-item nav-link active">Home</a>
      <a [routerLink]="['/search']" class="nav-item nav-link active">Search</a>
      <a [routerLink]="['/login']" class="nav-item nav-link active">Login</a>
      <a [routerLink]="['/register']" class="nav-item nav-link active"
        >Register</a
      >
    </div>
    <div class="navbar-nav ml-auto">
      <a [routerLink]="['/settings']" class="nav-item nav-link active"
        >Settings</a
      >
    </div>
  </div>
  <!-- <app-logout></app-logout> -->
</nav>
