<div class="container">
  <div class="row mb-1 align-items-center">
    <div class="col-md-6">
      <div class="card flex-md-row mb-2 h-md-250">
        <div class="card-body d-flex flex-column align-items-center">
          <h3> {{location.name}} </h3>
          <div class="mb-1 text-muted text-center">{{location.address.address}}<br>{{location.address.city}},
            {{location.address.state}} {{location.address.zip}}</div>
          <ul class="list-group">
            <li class="list-group-item">Cleanliness: {{cleanlinessAvg | number}}</li>
            <li class="list-group-item">Traffic: {{trafficAvg | number}}</li>
            <li class="list-group-item">Checkout: {{checkoutAvg | number}}</li>
            <li class="list-group-item">Stock: {{stockAvg | number}}</li>
          </ul>
          <br>
          <p>{{location.description}}</p>
          <div class="row mb-1 align-items-center">
            <button class='btn btn-secondary' *ngIf='currentUser.role === "admin" && !editLoc'
              (click)="updateLoc(location)">Update Location</button>
            <button class='btn btn-secondary' *ngIf='editLoc' (click)="editLoc = null">Cancel</button>
            <button class='btn btn-secondary' *ngIf='!newReview && currentUser && !editLoc' (click)="addReview()">Add
              Review</button>
            <button class='btn btn-secondary' *ngIf='newReview' (click)="newReview = null">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="card flex-md-row mb-4 box-shadow h-md-450">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3072.1636685425146!2d-104.81896868376049!3d39.64603097946214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c885c7178d797%3A0xc3f11199f153118e!2s3898%20S%20Eagle%20St%2C%20Aurora%2C%20CO%2080014!5e0!3m2!1sen!2sus!4v1588776752575!5m2!1sen!2sus"
          width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>
    </div>
  </div>

  <div *ngIf='editLoc'>
    <hr>
    <app-edit-location-form [location]='location' (editLoc)='loadLocation()'></app-edit-location-form>
  </div>
  <hr>

  <div *ngIf='newReview'>
    <hr>
    <app-review-form [location]='location' [newReview]='newReview' (reviewAdded)='loadLocation()'></app-review-form>
  </div>

  <div class="row mb-1">
    <div class="col-md-12">
      <div class="card flex-md-row h-md-250">
        <div class="card-body d-flex pb-0 flex-column align-items-center">
          <h3>Store Traffic Details </h3>
          <p>You can view below to find preferable times to go to the store
          </p>
          <p>green = recommended | blue = good | orange = high traffic
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-md-12">
      <div class="card flex-md-row mb-2 h-md-250">
        <div class="card-body d-flex flex-column justify-content-center align-items-center chartContainer">
          <ngx-charts-heat-map [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" [results]="multi" (select)="onSelect($event)" (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)">
          </ngx-charts-heat-map>
        </div>
      </div>
    </div>
  </div>

  <hr>


  <div class="row mb-1" *ngFor="let review of reviews">
    <div class="col-md-4">
      <div class="card flex-md-row mb-2 h-md-250">
        <div class="card-body d-flex flex-column align-items-center">
          <ul class="list-group w-100 text-center" *ngFor="let reviewRating of reviewRatings">
            <li class="list-group-item" *ngIf='reviewRating.id.reviewId == review.id && reviewRating.id.ratingId == 1'>
              {{reviewRating.rating.category | capitalize}}: {{reviewRating.ratingValue}}</li>
            <li class="list-group-item" *ngIf='reviewRating.id.reviewId == review.id && reviewRating.id.ratingId == 2'>
              {{reviewRating.rating.category | capitalize}}: {{reviewRating.ratingValue}}</li>
            <li class="list-group-item" *ngIf='reviewRating.id.reviewId == review.id && reviewRating.id.ratingId == 3'>
              {{reviewRating.rating.category | capitalize}}: {{reviewRating.ratingValue}}</li>
            <li class="list-group-item" *ngIf='reviewRating.id.reviewId == review.id && reviewRating.id.ratingId == 4'>
              {{reviewRating.rating.category | capitalize}}: {{reviewRating.ratingValue}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card flex-md-row mb-4 box-shadow h-md-450">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Review by {{review.user.username}}</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">{{review.content}}</a>
          </h3>
          <div class="mb-1 text-muted">{{review.dateCreated | date}}</div>
          <!-- <p class="card-text mb-auto" *ngIf='review.comments.length > 0'>{{review.comments[0].content}}</p> -->
          <div class="row align-items-center">
            <!-- <div class="col mb-1 align-items-center"> -->
            <button class='btn btn-secondary btn-sm'
              *ngIf='(!editReview || editReview.id != review.id) && (currentUser.id === review.user.id || currentUser.role === "admin")'
              (click)="updateReview(review)">Update Review</button>
            <button class='btn btn-secondary btn-sm' *ngIf='editReview && review.id === editReview.id'
              (click)="editReview = null">Cancel</button>
            <button class='btn btn-secondary btn-sm'
              *ngIf='currentUser.id === review.user.id || currentUser.role === "admin"'
              (click)="deleteReview(review)">Delete Review</button>
            <!-- </div> -->
            <!-- <div class="col mb-1 align-items-center"> -->
            <button class='btn btn-secondary btn-sm' (click)="ratingReviewSelected2=true"
              *ngIf='review.comments.length > 0 && !ratingReviewSelected2'>View comments</button>
            <button class='btn btn-secondary btn-sm' (click)="ratingReviewSelected2=false"
              *ngIf='ratingReviewSelected2'>Hide comments</button>
            <button class='btn btn-secondary btn-sm'
              *ngIf='(!newComment || newComment.review.id != review.id) && currentUser' (click)="addComment(review)">Add
              comment</button>
            <button class='btn btn-secondary btn-sm' *ngIf='newComment && newComment.review.id === review.id'
              (click)="newComment = null">Cancel</button>
            <!-- </div> -->
          </div>
        </div>
      </div>

      <div *ngIf='editReview && editReview.id === review.id'>
        <hr>
        <app-edit-review-form [editReview]='editReview'  (reviewUpdated)='loadLocation()'></app-edit-review-form>
      </div>

      <div *ngIf='newComment && newComment.review.id === review.id'>
        <hr>
        <app-comment-form [newComment]='newComment' (commentAdded)='loadLocation()'></app-comment-form>
      </div>

      <div class="container-fluid" *ngFor="let comment of review.comments">
        <div *ngIf='ratingReviewSelected2 && review.comments.length > 0' class="row mb-1">
          <!-- <div class="col-md-3" *ngIf='comment.id !== 1'>
            <div class="card flex-md-row mb-2 h-md-250">
              <div class="card-body d-flex flex-column align-items-center">
                <ul class="list-group">
                  <li class="list-group-item">Rating Review: {{comment.reviewRating}}</li>
                </ul>
              </div>
            </div>
          </div> -->
          <div class="col-md-12" >
            <div class="card flex-md-row mb-4 box-shadow h-md-450">
              <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-success">Review by {{comment.user.username}}</strong>
                <div class="mb-1 text-muted">{{comment.createdAt | date}}</div>
                <p class="card-text mb-auto">{{comment.content}}</p>
                <div class="row mb-1 align-items-center">
                  <div style="padding: 1em;">
                    <button class='btn btn-secondary btn-sm'
                      *ngIf='(!editComment || comment.id !== editComment.id) && (currentUser.id === comment.user.id || currentUser.role === "admin")'
                      (click)="updateComment(comment)">Update Comment</button>
                  </div>
                  <button class='btn btn-secondary btn-sm' *ngIf='editComment && editComment.id === comment.id'
                    (click)="editComment = null">Cancel</button>
                  <button class='btn btn-secondary btn-sm'
                    *ngIf='currentUser.id === comment.user.id || currentUser.role === "admin"'
                    (click)="deleteComment(comment)">Delete Comment</button>
                </div>
                <div *ngIf='editComment && editComment.id === comment.id'>
                  <hr>
                  <app-edit-comment-form [editComment]='comment'  (commentUpdated)='loadLocation()'></app-edit-comment-form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
