<div class="row mb-1">
  <div class="col-md-6">
    <div class="card flex-md-row mb-2 h-md-250">
      <div class="card-body d-flex flex-column align-items-center">
        <h3> King Soopers West Michigan Ave </h3>
        <div class="mb-1 text-muted text-center">123 West Michigan Ave<br>Aurora, CO 80011</div>
        <ul class="list-group">
            <li class="list-group-item">Cleanliness: 8.3</li>
            <li class="list-group-item">Traffic: 8.9</li>
            <li class="list-group-item">Checkout: 5.3</li>
        </ul>
        <p>This location is not very busy at the moment</p>
        <button class='btb btn-secondary'>Add Review</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-450">
      <!-- <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-success">Design</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Post title</a>
        </h3>
        <div class="mb-1 text-muted">Nov 11</div>
        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        <a href="#">Continue reading</a>
      </div> -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12288.854800478415!2d-104.8098737!3d39.6449049!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c8854f22a4bc7%3A0xdc5ae92be99b03ba!2s3932%20S%20Joplin%20Way%2C%20Aurora%2C%20CO%2080013!5e0!3m2!1sen!2sus!4v1588260595430!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>
