<div class="container">
  <div class="row mb-1">
    <div class="col-md-6">
      <div class="card flex-md-row my-2 h-md-250">
        <div class="card-body d-flex flex-column align-items-center justify-items-center">
          <h3> Diego Hoyos </h3>
          <img
            src="https://scontent.fapa1-2.fna.fbcdn.net/v/t1.0-9/13412994_10153608818894149_3582897996070590292_n.jpg?_nc_cat=105&_nc_sid=85a577&_nc_ohc=sm2M8wSaZfEAX-qQS1_&_nc_ht=scontent.fapa1-2.fna&oh=be74dcdcde3df525f403ee5bb8879ca7&oe=5ED78F51"
            style=" width:500px;height:500px">
          <div class="mb-1 text-muted text-center">Database Administrator</div>
          <div class="row">
            <a href="https://github.com/diegoalej">GitHub</a>
            <p>&nbsp; • &nbsp;</p>
            <a href="https://www.linkedin.com/in/diegoahoyos/">LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row my-2 h-md-250">
        <div class="card-body d-flex flex-column align-items-center justify-items-center">
          <h3> Luke Sutherland </h3>
          <img src="https://i.imgur.com/rPhGKSH.png" style="width:500px; height:500px">
          <div class="mb-1 text-muted text-center">Repo Owner</div>
          <div class="row">
            <a href="https://github.com/thehiddenlotus">GitHub</a>
            <p>&nbsp; • &nbsp;</p>
            <a href="https://www.linkedin.com/in/lukesutherland/">LinkedIn</a>
            <p>&nbsp; • &nbsp;</p>
            <a href="http://www.hiddenlotus.tech">Personal Site</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row mb-1">
    <div class="col-md-6">
      <div class="card flex-md-row mb-2 h-md-250">
        <div class="card-body d-flex flex-column align-items-center">
          <h3> David Yoachum </h3>
          <img
            src="https://scontent.fapa1-1.fna.fbcdn.net/v/t1.0-9/10982277_10152856587932693_6814039085549768420_n.jpg?_nc_cat=106&_nc_sid=7aed08&_nc_ohc=BYr_xU_FZ8UAX-3fSUF&_nc_ht=scontent.fapa1-1.fna&oh=daace53f0f654536aa7bd6929f8b7bc6&oe=5ED5687D"
            style="width:500px; height:500px">
          <div class="mb-1 text-muted text-center">Scrum Master</div>
          <a href="https://github.com/dyoachum">David's GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-2 h-md-250">
        <div class="card-body d-flex flex-column align-items-center">
          <h3> Frank Martin </h3>
          <img
            src="https://media-exp1.licdn.com/dms/image/C4D03AQGfVfGrrbhp1w/profile-displayphoto-shrink_800_800/0?e=1594252800&v=beta&t=hLdorQD_Lck2gCuHiGRH2osQxJj3FJq5WaH5LOK0wCw"
            style="width:500px; height:500px">
          <div class="mb-1 text-muted text-center">Developer</div>
          <a href="https://github.com/FrankMartin5">Frank's GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
