<div id="jumbotron" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Check Ahead</h1>
    <p class="lead text-center">Find the status of your favorite grocery store</p>
  </div>
</div>
<div class="row mb-1">
  <div class="col-md-12">
    <div class="card flex-md-row mb-2 h-md-250">
      <div class="card-body d-flex flex-column align-items-center">
        <p>Aurora King Soopers at 4456 xyz street activity</p>
        <img src="http://docs.endian.com/archive/2.1/images/efw_status_trafficgraphs_green.png">
        <a>Search for stores</a>
        <input type="text" placeholder="Search..">
        <button id="searchbutton" type="button" class="btn btn-primary btn-lg">Find Store</button>
      </div>
    </div>
  </div>
  <div id="jumbotron2" class="jumbotron jumbotron-fluid align-items-center">
    <div class="container text-center">
      <h1 class="display-4 text-center">About the App</h1>
      <p class="lead text-center">Hail-shot pressgang bilged on her anchor grog lugger maroon draught chase fathom bring a spring upon her cable. Aft run a shot across the bow long boat list transom Pieces of Eight mizzenmast line rum starboard. Belaying pin black jack cog hornswaggle bucko shrouds landlubber or just lubber starboard grapple gaff.

        Rutters case shot transom Cat o'nine tails draught mizzenmast smartly Chain Shot code of conduct gabion. Corsair stern scourge of the seven seas coffer brigantine galleon handsomely splice the main brace Pieces of Eight case shot. Sheet booty stern killick crack Jennys tea cup Privateer nipperkin grog Sea Legs provost.</p>
        <button id="learnmore" type="button" class="btn btn-primary btn-lg ">Learn More</button>
    </div>
    </div>
    <div class="container">
    <form>
      <p>Sign me up!</p>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-4">
          <input type="email" class="form-control" id="inputEmail3">
        </div>

      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" id="inputPassword3">
          <button id="Register" type="button" class="btn btn-primary btn-lg ">Register</button>
        </div>
      </div>
    </form>
  </div>


