<div id="jumbotron" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Check Ahead</h1>
    <p class="lead text-center">Find the status of your favorite grocery store</p>
  </div>
</div>
<div class="row mb-1">
  <div class="col-md-12">
    <div class="card flex-md-row mb-2 h-md-250">
      <div class="card-body d-flex flex-column align-items-center">
        <p>Aurora King Soopers at 4456 xyz street activity</p>
        <img src="http://docs.endian.com/archive/2.1/images/efw_status_trafficgraphs_green.png">
        <a>Search for stores</a>
        <input type="text" placeholder="Search..">
        <button id="searchbutton" type="button" class="btn btn-primary btn-lg">Find Store</button>
      </div>
    </div>
  </div>
  <div id="jumbotron2" class="jumbotron jumbotron-fluid align-items-center">
    <div class="container text-center">
      <h1 class="display-4 text-center">About the App</h1>
      <p class="lead text-center">Check Ahead is an awesome app that lets users search for grocery stores near them to see that particular stores busiest times, so that you can plan you grocery trips to avoid unwanted lines and over-crowding. Once you figure out how much you enojy the app you can regiter to save your favorite store locations and add more stores to see other busy times during the day.</p>
        <button [routerLink]="['/register']" type="button" class="btn btn-primary btn-lg ">Register</button>
    </div>
    </div>








