#jumbotron {
  background-image: url("https://i.imgur.com/j4egFJ1.jpg");
  color: whitesmoke;
}

#searchbutton {
  text-align: center;
}
.jumbotron {
  background-size: cover;
  background-position: center;
}
#learnmore {
  float: center;
}
#Team {
  background-color: black;
  border-color: black;
}

.chartContainer {
  max-height: 300px;
  max-width: 1000px;
}

.card {
  border: none;
}

.bannerText {
  font-size: 2em;
}
input {
  width: 400px;
  text-align: center;
  margin-bottom: 10px;
}
