/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html {
  position: relative;
  min-height: 100%;
  font-family: 'Lato';
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: 'Open Sans', sans-serif;
}

.btn-secondary {
  background-color: #1d3557;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

/* Theme Backgrounds */
.darkerbg {
  background-color: #457b9d;
}
.lighterbg {
  background-color:whitesmoke;
}
.bluebg {
  background-color: #a8dadc;
}
/* Chart container sizes */
.chartContainer {
  max-height: 300px;
  max-width: 1000px;
  min-height: 250px;
}

.jumbotron {
  margin-bottom: 0px!important;
}