<div class="container">
  <h1>Settings</h1>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Change Address</h5>
          <p class="card-text">
            Moved or at a different location?
          </p>
          <a
            [routerLink]="['/changeAddress']"
            *ngIf="checkLogin()"
            class="btn btn-primary"
            >Update Address</a
          >
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Delete Account</h5>
          <p class="card-text">Sad to see you go...</p>
          <a href="#" *ngIf="checkLogin()" class="btn btn-primary">
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
