<div class="container register-form">
  <form>
    <div class="note">
      <p>Please Register Here</p>
    </div>

    <div class="form-content">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username *" />
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Password *" />
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email *" />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Street Address *"
            />
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="City *" />
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Zip *" />
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="State *" />
          </div>
        </div>
      </div>
      <button type="submit" class="btnSubmit">
        Submit
      </button>
    </div>
  </form>
</div>
