<div class="container register-form">
  <form #form="ngForm">
    <div class="note">
      <p>Please Register Here</p>
    </div>

    <div class="form-content">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Username *"
              ngModel
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Password *"
              ngModel
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Email *"
              ngModel
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Street Address *"
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="City *"
              ngModel
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Zip *"
              ngModel
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="State *"
              ngModel
            />
          </div>
        </div>
      </div>
      <button type="submit" class="btnSubmit" (click)="register(form)">
        Submit
      </button>
    </div>
  </form>
</div>
