<div class="container-fluid lighterbg py-5 h-100">
  <div class="d-flex register-form align-content-center justify-content-center py-5">
      <form #form="ngForm">
        <div class="py-5 logintop text-white text-center px-5">
          <h3>Member Access</h3>
        </div>
        <div class="form-content">
          <div class="row py-4">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username *" name="username" for="username"
                  ngModel />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Password *" name="password" type="password"
                  ngModel />
              </div>
            </div>
          </div>
          <button type="submit" class="mr-2  mb-2 btn btn-secondary" (click)="login(form)">
            Login
          </button>
          <button [routerLink]="['/register']" type="button" class="mr-2  mb-2 btn btn-secondary">Register Now</button>

        </div>
      </form>
  </div>
</div>


<!-- #form="ngForm" -->
<!-- <button type="submit" class="btnSubmit" (click)="login(form)"> -->